.my-container {
  /* @apply container mx-auto px-4 py-8; */
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.h1 {
  /* text-3xl font-bold text-center mb-8 */
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.my-content {
  /* mt-10 flex items-center */
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}
